Repository pyaqubzade/KNative, changes with the owners that CODEOWNERS names for each.
All owners: @PB-Innovation/AvtoYoxla, @PB-Innovation/DevOps, @PB-Innovation/SRE

CODEOWNERS:

*               @PB-Innovation/AvtoYoxla
.github/        @PB-Innovation/DevOps
config/         @PB-Innovation/DevOps
infra/          @PB-Innovation/SRE
CODEOWNERS      @PB-Innovation/SRE

KN-1: Add service
  config/appConfig.go
  go.mod
  go.sum
  handler/reportHandler.go
  main.go
  service.yaml
Owners: @PB-Innovation/DevOps, @PB-Innovation/AvtoYoxla

KN-2: Add server side
  client/incidentClient.go
  handler/reportHandler.go
  main.go
  model/server.go
  service-server.yaml
Owners: @PB-Innovation/AvtoYoxla

KN-3: Remove unused code
  Dockerfile
  README.md
  client/client.go
  config/appConfig.go
  config/profiles/default.env
  config/profiles/dev.env
  db/actionRepository.go
  db/db.go
  db/entity.go
  db/migrations/1_init.sql
  db/migrations/2_create_local_report_table.sql
  db/migrations/3_create_incident_table.sql
  db/migrations/4_create_protocol_table.sql
  db/migrations/5_create_vehicle_table.sql
  db/migrations/6_create_external_report_table.sql
  db/migrations/7_create_action_record_table.sql
  db/reportRepository.go
  errhandler/errorHandler.go
  errhandler/model.go
  handler/handler.go
  main.go
  mapper/mapper.go
  middleware/mdcMiddleware.go
  model/client.go
  model/const.go
  model/server.go
Owners: @PB-Innovation/AvtoYoxla, @PB-Innovation/DevOps

KN-4: Fix dockerfile
  Dockerfile
Owners: @PB-Innovation/AvtoYoxla

KN-5: Add vault
  Dockerfile
  config/appConfig.go
  infra/entrypoint-parent.sh
  main.go
  service.yaml
Owners: @PB-Innovation/AvtoYoxla, @PB-Innovation/DevOps, @PB-Innovation/SRE

KN-6: Update vault annotations
  config/appConfig.go
  infra/entrypoint-parent.sh
  service.yaml
Owners: @PB-Innovation/DevOps, @PB-Innovation/SRE, @PB-Innovation/AvtoYoxla

KN-7: Fix dockerfile
  Dockerfile
Owners: @PB-Innovation/AvtoYoxla

KN-8: Testing ingress controller
  ingress.yaml
  service.yaml
Owners: @PB-Innovation/AvtoYoxla

Add files via upload
  components.puml
Owners: @PB-Innovation/AvtoYoxla
